
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    /* هنا عشان ما يكون في مسافة بين المحتوى والصفحة  */
    margin: 0;
    padding: 0;
}
:root{
    --mainColor:#FB2E86;
    --mainFont : "Lato", serif;
    --secoundFont:"Josefin Sans", serif;
}
 h1,h2,h3,h4,h5,h6{
    font-family:var(--secoundFont);

 }
body{
   font-family:var(--mainFont)
}
a{
    text-decoration: none;
}ul{
    list-style-type: none;
}
.container{
    /* هنا عشان تيجي الديف بالنص مش يسار  */
       margin: auto;
      /* هنا لو شلنا ال مارجن اوتو رح ينقص ال 300 من جهة اليمين كاملين لكن لما حط المارجن رح يوزع ال 300 بالتساوي على الجهتين  */
       width: calc(100% - 300px);
       /* background-color :violet; */
   }
   .row{

    /*هنا  بعطيه لاي عناصر مصفوفة جنب بعض وبنعطى للديف الي جوا الكونتينر  */
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 80plx;

   } 
 .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
 }